<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.localhost.model.mapper.drugsdetailedMapper">
  <resultMap id="BaseResultMap" type="com.localhost.model.po.drugsdetailed">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="DrugsTempID" jdbcType="INTEGER" property="drugstempid" />
    <result column="DrugsID" jdbcType="INTEGER" property="drugsid" />
    <result column="DrugsUsage" jdbcType="VARCHAR" property="drugsusage" />
    <result column="Dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="Frequency" jdbcType="VARCHAR" property="frequency" />
  </resultMap>
  <insert id="insert" parameterType="com.localhost.model.po.drugsdetailed">
    insert into drugsdetailed (ID, DrugsTempID, DrugsID, 
      DrugsUsage, Dosage, Frequency
      )
    values (#{id,jdbcType=INTEGER}, #{drugstempid,jdbcType=INTEGER}, #{drugsid,jdbcType=INTEGER}, 
      #{drugsusage,jdbcType=VARCHAR}, #{dosage,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.localhost.model.po.drugsdetailed">
    insert into drugsdetailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="drugstempid != null">
        DrugsTempID,
      </if>
      <if test="drugsid != null">
        DrugsID,
      </if>
      <if test="drugsusage != null">
        DrugsUsage,
      </if>
      <if test="dosage != null">
        Dosage,
      </if>
      <if test="frequency != null">
        Frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="drugstempid != null">
        #{drugstempid,jdbcType=INTEGER},
      </if>
      <if test="drugsid != null">
        #{drugsid,jdbcType=INTEGER},
      </if>
      <if test="drugsusage != null">
        #{drugsusage,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>