<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.localhost.model.mapper.prescriptionMapper">
  <resultMap id="BaseResultMap" type="com.localhost.model.po.prescription">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="MedicalID" jdbcType="INTEGER" property="medicalid" />
    <result column="RegistID" jdbcType="INTEGER" property="registid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="PrescriptionName" jdbcType="VARCHAR" property="prescriptionname" />
    <result column="PrescriptionTime" jdbcType="TIMESTAMP" property="prescriptiontime" />
    <result column="PrescriptionState" jdbcType="INTEGER" property="prescriptionstate" />
  </resultMap>
  <insert id="insert" parameterType="com.localhost.model.po.prescription">
    insert into prescription (ID, MedicalID, RegistID, 
      UserID, PrescriptionName, PrescriptionTime, 
      PrescriptionState)
    values (#{id,jdbcType=INTEGER}, #{medicalid,jdbcType=INTEGER}, #{registid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{prescriptionname,jdbcType=VARCHAR}, #{prescriptiontime,jdbcType=TIMESTAMP}, 
      #{prescriptionstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.localhost.model.po.prescription">
    insert into prescription
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="medicalid != null">
        MedicalID,
      </if>
      <if test="registid != null">
        RegistID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="prescriptionname != null">
        PrescriptionName,
      </if>
      <if test="prescriptiontime != null">
        PrescriptionTime,
      </if>
      <if test="prescriptionstate != null">
        PrescriptionState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medicalid != null">
        #{medicalid,jdbcType=INTEGER},
      </if>
      <if test="registid != null">
        #{registid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="prescriptionname != null">
        #{prescriptionname,jdbcType=VARCHAR},
      </if>
      <if test="prescriptiontime != null">
        #{prescriptiontime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptionstate != null">
        #{prescriptionstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>