<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.localhost.model.mapper.ruleMapper">
  <resultMap id="BaseResultMap" type="com.localhost.model.po.rule">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="RuleName" jdbcType="VARCHAR" property="rulename" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="Week" jdbcType="VARCHAR" property="week" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <insert id="insert" parameterType="com.localhost.model.po.rule">
    insert into rule (ID, RuleName, DeptID, 
      UserID, Week, DelMark
      )
    values (#{id,jdbcType=INTEGER}, #{rulename,jdbcType=VARCHAR}, #{deptid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, #{delmark,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.localhost.model.po.rule">
    insert into rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="rulename != null">
        RuleName,
      </if>
      <if test="deptid != null">
        DeptID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="week != null">
        Week,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rulename != null">
        #{rulename,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="week != null">
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>